<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Form_SignUp</servlet-name>
        <servlet-class>Servlets.Form_SignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateForm</servlet-name>
        <servlet-class>ValidationFunc.ValidateForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Page_EditProfile</servlet-name>
        <servlet-class>Servlets.Page_EditProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Main_Page</servlet-name>
        <servlet-class>Servlets.Main_Page</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>page_profile</servlet-name>
        <servlet-class>Servlets.page_profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Product_page</servlet-name>
        <servlet-class>Servlets.Product_page</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Page_Login</servlet-name>
        <servlet-class>Servlets.Page_Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Page_Logout</servlet-name>
        <servlet-class>Servlets.Page_Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Page_ViewProfile</servlet-name>
        <servlet-class>Servlets.Page_ViewProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Page_ViewAllMembers</servlet-name>
        <servlet-class>Servlets.Page_ViewAllMembers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Utility_FollowMember</servlet-name>
        <servlet-class>Servlets.Utility_FollowMember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Page_UploadProduct</servlet-name>
        <servlet-class>Servlets.Page_UploadProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Page_ViewProduct</servlet-name>
        <servlet-class>Servlets.Page_ViewProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Utility_AddComment</servlet-name>
        <servlet-class>Servlets.Utility_AddComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Page_ViewAllAdverts</servlet-name>
        <servlet-class>Servlets.Page_ViewAllAdverts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Page_EditProduct</servlet-name>
        <servlet-class>Servlets.Page_EditProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Utility_MakeOffer</servlet-name>
        <servlet-class>Servlets.Utility_MakeOffer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Page_Profile</servlet-name>
        <servlet-class>Servlets.Page_Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Utility_AcceptOffer</servlet-name>
        <servlet-class>Servlets.Utility_AcceptOffer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Utility_AddToCart</servlet-name>
        <servlet-class>Servlets.Utility_AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Page_ViewCart</servlet-name>
        <servlet-class>Servlets.Page_ViewCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PopulationFinder</servlet-name>
        <servlet-class>Servlets.PopulationFinder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ajax_FindAdverts</servlet-name>
        <servlet-class>Servlets.Ajax_FindAdverts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ajax_UploadCategories</servlet-name>
        <servlet-class>Servlets.Ajax_UploadCategories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Utility_DeleteAdvert</servlet-name>
        <servlet-class>Servlets.Utility_DeleteAdvert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Utility_RateProduct</servlet-name>
        <servlet-class>Servlets.Utility_RateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Page_Main</servlet-name>
        <servlet-class>Servlets.Page_Main</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Utility_UpdateProfile</servlet-name>
        <servlet-class>Servlets.Utility_UpdateProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ajax_Find</servlet-name>
        <servlet-class>Servlets.Ajax_Find</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Utility_RateTrade</servlet-name>
        <servlet-class>Servlets.Utility_RateTrade</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Form_SignUp</servlet-name>
        <url-pattern>/Form_SignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateForm</servlet-name>
        <url-pattern>/ValidateForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Page_EditProfile</servlet-name>
        <url-pattern>/Page_EditProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Main_Page</servlet-name>
        <url-pattern>/Main_Page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>page_profile</servlet-name>
        <url-pattern>/page_profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Product_page</servlet-name>
        <url-pattern>/Product_page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Page_Login</servlet-name>
        <url-pattern>/Page_Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Page_Logout</servlet-name>
        <url-pattern>/Page_Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Page_ViewProfile</servlet-name>
        <url-pattern>/Page_ViewProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Page_ViewAllMembers</servlet-name>
        <url-pattern>/Page_ViewAllMembers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Utility_FollowMember</servlet-name>
        <url-pattern>/Utility_FollowMember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Page_UploadProduct</servlet-name>
        <url-pattern>/Page_UploadProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Page_ViewProduct</servlet-name>
        <url-pattern>/Page_ViewProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Utility_AddComment</servlet-name>
        <url-pattern>/Utility_AddComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Page_ViewAllAdverts</servlet-name>
        <url-pattern>/Page_ViewAllAdverts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Page_EditProduct</servlet-name>
        <url-pattern>/Page_EditProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Utility_MakeOffer</servlet-name>
        <url-pattern>/Utility_MakeOffer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Page_Profile</servlet-name>
        <url-pattern>/Page_Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Utility_AcceptOffer</servlet-name>
        <url-pattern>/Utility_AcceptOffer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Utility_AddToCart</servlet-name>
        <url-pattern>/Utility_AddToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Page_ViewCart</servlet-name>
        <url-pattern>/Page_ViewCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ajax_FindAdverts</servlet-name>
        <url-pattern>/ajax-findAdverts.ajax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ajax_UploadCategories</servlet-name>
        <url-pattern>/ajax-uploadcategories.ajax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Utility_DeleteAdvert</servlet-name>
        <url-pattern>/Utility_DeleteAdvert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Utility_RateProduct</servlet-name>
        <url-pattern>/Utility_RateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Page_Main</servlet-name>
        <url-pattern>/Page_Main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Utility_UpdateProfile</servlet-name>
        <url-pattern>/Utility_UpdateProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ajax_Find</servlet-name>
        <url-pattern>/ajax-find.ajax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Utility_RateTrade</servlet-name>
        <url-pattern>/Utility_RateTrade</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
