body 
{
	font-size: 14px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color:#000;
	padding:0;
	margin:0;
}

/* Container: */
#container 
{
    width: 900px;
    margin-bottom: 10px;
    margin: 0 auto;
}

/* ------------- Navigation bar: ---------------------*/
a.navBarLinks:link {text-decoration: none; color:#70B7BA;}
a.navBarLinks:visited {text-decoration: none; color:#70B7BA;}
a.navBarLinks:active {text-decoration: none; color:#70B7BA;}
a.navBarLinks:hover {text-decoration: none; color:#F1433F; }

#navigationBar
{
	background-color:#E7E1D4;
	font-size:16px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	height:30px;
	padding-left:10px;
	padding-right:10px;
	padding-top:2px;
	margin-top:5px;
}


/* Info Bar */
div.ProductInfo
{
        font-size: 14px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
        padding-top: 30px;
        padding-left: 50px;
        width:600px;
}

table.Description
{

    table-layout:fixed;
    border-collapse: collapse;
    width: 600px;
}
div.RightSide
{
    float:right;
    padding-top:50px;
    min-width:200px;
    max-width:200px;
}

a.followLink:link {text-decoration: none; color:#70B7BA;}
a.followLink:visited {text-decoration: none; color:#70B7BA;}
a.followLink:active {text-decoration: none; color:#70B7BA;}
a.followLink:hover {text-decoration: none; color:#F1433F; }

div.CommentingArea
{
    font-size: 14px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    padding-top: 30px;
    padding-left: 50px;
    width:600px;
}

div.CommentArea
{
    font-size: 14px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    padding-top: 30px;
    padding-left: 50px;
    width:600px;
}

#BuyOfferMenu
{
    padding-top: 30px;
}


select.OfferAd
{
    width: 80px;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Bottom Bar */
div.bottomBar
{
    clear:both;
    text-align:right;
    background-color:#E7E1D4;
    font-size:16px;
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#gallery {
        background-color: #444;
        padding: 10px;
        width: 520px;
}
#gallery ul { list-style: none; }
#gallery ul li { display: inline; }
#gallery ul img {
        border: 5px solid #3e3e3e;
        border-width: 5px 5px 20px;
}
#gallery ul a:hover img {
        border: 5px solid #fff;
        border-width: 5px 5px 20px;
        color: #fff;
}
#gallery ul a:hover { color: #fff; }




