body 
{
	font-size: 14px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color:#000;
	padding:0;
	margin:0;
}

/* Container: */
#container 
{
	width: 900px;
	margin-bottom: 10px;
	margin: 0 auto;
}

/* ------------- Navigation bar: ---------------------*/
a.navBarLinks:link {text-decoration: none; color:#70B7BA;}
a.navBarLinks:visited {text-decoration: none; color:#70B7BA;}
a.navBarLinks:active {text-decoration: none; color:#70B7BA;}
a.navBarLinks:hover {text-decoration: none; color:#F1433F; }

#navigationBar
{
	background-color:#E7E1D4;
	font-size:16px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	height:30px;
	padding-left:10px;
	padding-right:10px;
	padding-top:2px;
	margin-top:5px;
}

div.NavRightSide
{
	text-align:right;
}
div.NavLeftSide
{
	position:absolute;
	text-align:left;
}

/* Info Bar */
div.Info
{
	height:200px;
}

div.InfoPhoto
{
	float:left;
	padding-top:5px;
	padding-left:5px;
}

div.InfoProfile
{
	float:left;
	padding-left:5px;
	padding-top:5px;	
}

/* Stuff about following stuff */
a.followLink:link {text-decoration: none; color:#70B7BA;}
a.followLink:visited {text-decoration: none; color:#70B7BA;}
a.followLink:active {text-decoration: none; color:#70B7BA;}
a.followLink:hover {text-decoration: none; color:#F1433F; }

div.InfoFollowers
{

	float:right;
	width:200px;
	height:190px;
	overflow:auto;	
}
div.InfoFollowing
{
	float:right;
	width:200px;
	height:190px;
	overflow:auto;	
}



/* Left side : */
div.LeftSide
{
	margin-top:100px;
	float: left;
	width: 250px;
}

/* Right Side: */
div.RightSide
{
	float:right;
	padding-top:170px;
	min-width:250px;
	max-width:250px;
}

/* Main Context */
#MainContext
{
        height: 100%;
        min-height: 400px;
        

}
/*Adverts*/
#Adverts
{
    padding-top: 30px;
    padding-left: 50px;
    background-color: #70B7BA;
}

/* Left side : */
div.LeftSideAd
{
    float: left;
    width:340px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;

}
/* Right Side: */
div.RightSideAd
{
    
    float:right;
    width:340px;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 30px;

}

table.RightAdTable
{
    width:340px;
    padding-left: 5px;
    padding-top: 5px;
    
    border-left: #000;
    border-left-style: solid;
    border-bottom: #000;
    border-bottom-style: solid;
    
    font-size:14px;
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
    
    table-layout: fixed;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* Bottom Bar */
div.bottomBar
{
	text-align:right;
	background-color:#E7E1D4;
	font-size:16px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}
